* {
    padding: 0;
    margin: 0;
}

.smcontainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.smitem {
    grid-row-start: auto;
}

.gcontainer {
    display: grid;
    grid-template-columns: repeat(6, 50px) auto repeat(6, 50px);
    grid-template-rows: repeat(6, 50px) auto repeat(6, 50px) 30px;
    border: red;
    background-color: aquamarine;
}

.gitem-a {
    grid-column-start: 1;
    grid-column-end: 3;    
}
.gitem-end {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 14;
    grid-row-end: 16;
    background-color: bisque;
}

.gitem-infront {
    z-index: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 14;
    background-color: white;
}

.gitem-processpoll {
    grid-column: 10 / 14;
    grid-row: 1 / 6;
    background-color: burlywood;
}

.gitem-window {
    grid-column: 6 / 8;
    grid-row: 2 / 8;
    background-color: coral;
}