.box-message-top {
    position: absolute;
    left: 0;
    right: 0;
    width: 40%;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    background-color: rgb(241, 191, 191);
    text-align: center;
}